<h1>Salut ! Viens, on va gossiper comme des petites loutres</h1>

<table>
  <thead>
    <tr>
      <th>Auteur du gossip</th>
      <th>Super gossip</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gossips.each do |gossip| %>
      <tr>
        <td><%= gossip.anonymous_author %></td>
        <td><%= gossip.content %></td>
        <td><%= link_to 'Show', gossip %></td>
        <td><%= link_to 'Edit', edit_gossip_path(gossip) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Toi aussi, Joe, balance ton gossip !', new_gossip_path %>
